@use '../../scss/utils/mixins.scss' as *;
@use '../../scss/utils/functions.scss' as *;
h1.h1{
    text-align: center;  
    margin-top: rem(30);
}

.property-cards{
    display: flex;
    margin-inline: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(50);
    margin-top: rem(50);

    svg{
        margin: rem(25) auto rem(15);
        width: rem(80);
        height: rem(80);
    }

    .card{
        width: rem(300);
        background-color: var(--color-selected);
        text-align: center;
        border-radius: rem(5);
        height: rem(320);

        .card-heading{
            
        }

    }
}


.properties.h3{
    color: var(--color-success);
    text-align: center;
    margin-top: rem(20);
}

button.start{
    display: block;
    background-color: var(--color-dark);
    color: var(--color-primary);
    font-size: rem(26);
    font-weight: 600;
    width: rem(250);
    height: rem(60);
    margin: rem(50) auto;
    a{
        color: var(--color-primary);
        text-decoration: none;
    }
}
