@use './utils/vars.scss' as *;
@use './utils/mixins.scss' as *;
@use './utils/classes.scss' as *;
@use './base/reset.scss' as *;
@use './utils/media.scss' as *;
@use './utils/functions.scss' as *;
@use './components/button.scss' as *;


body{
    @include fluid-text(24, 16);
    color: var(--color-primary);
    background-color: var(--color-dark);

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--color-primary);
    font-weight: 500;
}

h1, .h1 {
    @include fluid-text(56, 28);
    line-height: 1.2;
}

h2, .h2 {
    @include fluid-text(48, 24);
    line-height: 1.3;
}

h3, .h3 {
    @include fluid-text(36, 20);
    line-height: 1.4;
}

h4, .h4 {
    @include fluid-text(28, 18);
    line-height: 1.5;
}


h5, .h5 {
    @include fluid-text(24, 16);
    line-height: 1.6;
}

h6, .h6 {
    @include fluid-text(20, 14);
    line-height: 1.7;
}


a,
button,
input,
select,
label,
textarea{
    transition-duration: var(--transition-duration);
}

a{
    color: var(--links-color);
    text-decoration: none;

    &:hover{
        color: var(--color-primary);
        text-decoration: underline;
    }
}

:focus-visible{
    outline: rem(2) solid var(--color-primary);
    outline-offset: rem(4);
    transition-duration: 0;
}

