@use './functions' as *;
@use './media' as *;

:root{
    
    --color-primary: #ffffff;
    --color-success: #6cdbaf;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --links-color:  #676b6e;
    --color-selected: #252627;
    --color-dark: #000000;

    --container-width: #{rem(1200)};
    --container-padding: #{rem(20)};

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(900)};
    }

}